.footer-nav-items {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    list-style: none;
    font-weight: bold;
}

.footer-nav-items a {
    text-decoration: none;
    color: #6f7490;
}

.right-title {
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    color: #6f7490;
}

.footer-description {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: #6f7490;
}

.app-link {
    display: flex;
    flex-direction: row;
    width: 320px;
    height: 70px;
}

.app-link img {
    width: 100%;
    align-self: center;
}