* {
    margin: 0;
}

@font-face {
    font-family: Roboto;
    src: url('/src/fonts/roboto/Roboto-Regular.ttf');
}

@font-face {
    font-family: Barlow;
    src: url('/src/fonts/barlow/Barlow-Regular.ttf');
}

@font-face {
    font-family: 'Barlow-Bold';
    src: url('/src/fonts/barlow/Barlow-Bold.ttf');
}

.heading-title {
    font-family: 'Barlow-Bold', sans-serif;
    font-size: 38px;
    font-weight: bold;
    color: #298a65;
    text-align: center;
}

.description-text {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 19px;
    color: #6f7490;
}

.description-steps {
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    color: #6f7490;
}

.button-link {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: #ffffff;
    background-color: #3dc491;
    border-radius: 5px;
    padding: 20px 30px;
    text-decoration: none;
    text-align: center;
}

.categories-title {
    font-family: 'Barlow', sans-serif;
    font-size: 22px;
    color: #3dc491;
    font-weight: 700;
}
