.main-section {
    background-color: #fcf6ec;
}

.food-delivery {
    left: 0;
    right: 0;
    background-image: url(../img/png/head-bground.png);
    background-repeat: no-repeat;
    padding: 200px 0;
}

.food-delivery-info {
    padding: 0 90px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.food-delivery-info h1{
    font-family: 'Barlow-Bold', sans-serif;
    font-size: 4em;
    color: #4b4f69;
    text-align: center;
    font-weight: 900;
}

.food-delivery-info .description-text {
    padding: 40px;
}

.food-delivery-info .button-link {
    width: 100px;
    text-align: center;
}

.about-us {
    padding: 100px 0 60px;
    display: flex;
    flex-direction: row;
}

#aboutus {
    display: flex;
    flex-direction: column;
    padding-left: 50px;
}

.price {
    font-family: 'Barlow', sans-serif;
    font-size: 22px;
    font-weight: 400;
    color: #ff775e;
}