.main-section {
    background-color: #fcf6ec;
}

.grand-description {
    font-size: 78px;
    font-family: 'Barlow-Bold', sans-serif;
    font-weight: bold;
    color: var(--dark-gray);
}

.food-delivery {
    background-image: url('/src/img/png/head-bground.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 500px;
    height: 480px;
}

.work-step-title {
    font-family: 'Barlow-Bold', sans-serif;
    font-size: 36px;
    color: var(--light-green);
}

.food-card {
    background-color: #ffffff;
}

.food-img {
    background-color: #fcf6ec;
}

.footer-section {
    font-size: 15px;
    font-family: Roboto, sans-serif;
    color: var(--light-gray);
}

.nav-menu {
    list-style: none;
}

.nav-menu-list {
    list-style: none;
    font-weight: bold;
}

.nav-menu-list a {
    color: var(--light-gray);
    text-decoration: none;
}

.social-net-list {
    list-style: none;
}