.top-nav-menu, .bottom-nav-menu {
    display: block;
    padding: 20px 0;
    font-weight: bold;
    color: var(--light-gray);  
}

.top-nav-menu-item, .bottom-nav-menu-item {
    list-style: none;
    padding: 0 0 15px;
}

.top-nav-menu-item a, .bottom-nav-menu-item a {
    text-decoration: none;
    color: var(--light-gray);
}

/* top menu */
@media (min-width: 800px) {
    .top-nav-menu {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex: 1;
    }

    .top-nav-menu-list {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-content: center;
        text-align: center;
        flex: 1;
    }

    .top-nav-menu-item, .social-net {
        display: flex;
        justify-items: center;
        align-items: center;
    }

    .top-nav-menu-item {
        padding: 0 15px;
    }

}

/* bottom menu */
@media (min-width: 800px) {
    .bottom-nav-menu {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex: 1;
    }


}