.sitemap-section {
    display: block;
    text-align: center;
    font-size: 17px;
    font-family: Roboto-Medium, sans-serif;
    color: var(--light-gray);
    padding: 60px auto;
}

.sitemap-nav-menu {
    display: block;
    padding-top: 25px;
}

.bottom-logo-descr {
    padding: 20px 0;
}

.bottom-logo {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    padding: 60px 24px 35px;
}

.bottom-logo a {
    width: 100px;
    height: 89px;
    margin: auto;
}

.bottom-logo img {
    width: 100%;
}

.bottom-logo-descr {
    font-size: 14px;
    grid-row: 2;
}

.bottom-nav-menu-list {
    padding: 15px 0;
}

.bottom-nav-menu-item {
    list-style: none;
    padding: 10px 0;
}

.bottom-nav-menu-item a {
    text-decoration: none;
    color: var(--light-gray);
}

.bottom-social-net {
    display: block;
    padding-top: 25px;
    padding-bottom: 15px;
}

.bottom-social-net i {
    color: var(--light-green);
    border-radius: 3px;
    padding: 0 5px;
}

.bottom-social-net i:hover {
    color: var(--dark-green);
}

.section-separate {
    background-color: #2c2e38;
    opacity: 0.2;
}

.right-section {
    font-family: Roboto;
    text-align: center;
    font-size: 12px;
    margin: 0 39px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.right-title {
    display: block;
    padding: 15px 0 10px 0;
}

.sright-section {
    display: flex;
    flex-direction: column;
    justify-items: center;
}

.site-map-title, .question-title {
    font-size: 24px;
    font-family: Barlow-Bold, sans-serif;
    font-weight: bold;
    color: var(--light-green);
}

.app-bottom-link img {
    width: 120px;
    max-width: 120px;
    height: auto;
}

@media (min-width: 992px) {
    .sitemap-section {
        display: grid;
        grid-template-columns: 1fr 50%;
        grid-template-rows: 300px 3px 20px;
        font-size: 15px;
        max-width: 982px;
    }

    .sitemap-nav-menu {
        grid-row: 1;
        grid-column: 2;
        width: 100%;
        display: grid;
        grid-template-columns: 180px 180px 270px;
        grid-template-rows: 50px 1fr;
        text-align: left;
    }

    .sitemap-nav-menu .site-map {
        grid-column: 1 / 2;
        text-align: left;
    }

    .sitemap-nav-menu .glob-info {
        grid-row: 2;
        grid-column: 1;
    }
    .sitemap-nav-menu .addition-info {
        grid-row: 2;
        grid-column: 2;
    }

    .sitemap-nav-menu .help-info {
        grid-row: 2;
        grid-column: 3;
    }

    .bottom-nav-menu-item a:hover {
        color: var(--light-green);
    }

    .sitemap-nav-menu .question-title {
        grid-row: 1;
        grid-column: 3;
        text-align: left;
        align-items: center;
    }

    .right-section {
        grid-column: 1 / 5;
        display: flex;
        flex-direction: row;
        flex: 1;
        justify-content: space-between;
        text-align: center;
        margin: 0 39px;
        padding: 15px;
    }

    .sright-section {
        display: flex;
        flex-direction: row;
        flex: 1;
        justify-content: flex-end;
        align-items: center;
    }

    .bottom-social-net {
        display: block;
        padding-left: 10px;
    }
    
    .section-separate {
        grid-column: 1 / 5;
        height: 1px;
        margin: -1px;
        width: 110%;
        background-color: #2c2e38;
        opacity: 0.2;
    }

    .bottom-logo {
        grid-column: 1;
    }

    .bottom-logo {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
    }

    .bottom-logo a {
        margin-left: 1px;
    }

    .bottom-logo-descr {
        font-family: Roboto, sans-serif;
        font-size: 15px;
        text-align: left;
    }

    .app-bottom-link {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }

    .app-bottom-link img {
        width: 120px;
        max-width: 120px;
        min-width: 120px;
        padding: 0 15px;
    }

    .app-bottom-link {
        grid-row: 3;
        grid-column: 1;
    }
}
