/* global styles */

:root {
    --dark-green: #298065;
    --light-green: #3dc491;
    --dark-gray: #4b4f69;
    --light-gray: #6f7490;
}

body {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: Roboto-Medium;
    src: url(../fonts/Roboto-Medium.ttf);
}

@font-face {
    font-family: Barlow;
    src: url(../fonts/Barlow-Regular.ttf);
}

@font-face {
    font-family: Barlow-Bold;
    src: url(../fonts/Barlow-Bold.ttf);
}

@font-face {
    font-family: Barlow-Extra-Bold;
    src: url(../fonts/Barlow-ExtraBold.ttf);
}

.title-description {
    font-size: 44px;
    font-family: Barlow-Bold, sans-serif;
    font-weight: bold;
    color: var(--dark-green);
    margin: 15px auto;
}

.group-description {
    font-size: 24px;
    font-family: Barlow-Bold, sans-serif;
    font-weight: bold;
    color: var(--light-green);
    margin: 15px auto;
}

.short-text-description {
    font-size: 19px;
    font-family: Roboto, sans-serif;
    font-weight: bold;
    color: var(--light-gray);
    margin: 15px auto;
}

.text-description {
    font-size: 17px;
    font-family: Roboto, sans-serif;
    color: var(--light-gray);
    word-wrap: break-word;
    margin: 15px 0;
}

.number-value {
    font-size: 22px;
    font-family: Barlow-Bold, sans-serif;
    color: #ff775e;
}

.button-link {
    font-size: 14px;
    font-family: Roboto, sans-serif;
    font-weight: bold;
    color: #ffffff;
    background-color: var(--light-green);
    border-radius: 4px;
    border: none;
    padding: 16px 0;
    text-decoration: none;
    text-align: center;
    width: 160px;
    margin: 25px 0;
}

.button-link:active {
    border: none;
}

.button-link:hover {
    background-color: #ff775e;
    color: #ffffff;
}

.feedback-user-name {
    font-size: 24px;
    font-family: Barlow, sans-serif;
    font-weight: bold;
    color: var(--dark-gray);
}

.feedback-date {
    font-size: 15px;
    font-family: Roboto, sans-serif;
    font-weight: bold;
    color: var(--light-green);
    margin: 0.9rem auto;
}

.short-grey-line {
    width: 30px;
    height: 0.3rem;
    background-color: var(--light-gray);
    margin: 3px auto;
}

.long-grey-line {
    width: 4rem;
    height: 0.3rem;
    background-color: var(--dark-gray);
    margin: 3px auto;
}

.short-green-line {
    width: 3rem;
    height: 0.3rem;
    background-color: var(--dark-green);
}

@media (min-width: 992px) {
    .title-description {
        font-size: 50px;
    }

    .short-grey-line,
    .short-grey-line:not([size]) {
        width: 3rem;
        height: 0.2rem;
        background-color: var(--light-gray);
        opacity: 1;
    }

    .long-grey-line,
    .long-grey-line:not([size]) {
        width: 4rem;
        height: 0.3rem;
        background-color: var(--dark-gray);
        margin: 3px auto;
        opacity: 0.7;
    }
    
    .short-green-line, 
    .short-green-line:not([size]) {
        width: 3rem;
        height: 0.2rem;
        background-color: var(--dark-green);
        opacity: 1;
    }

}
