/* global styles */

:root {
    --dark-green: #298065;
    --light-green: #3dc491;
    --dark-gray: #4b4f69;
    --light-gray: #6f7490;
}

* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: Roboto;
    src: url(../fonts/roboto/Roboto-Regular.ttf);
}

@font-face {
    font-family: Roboto-Medium;
    src: url(../fonts/roboto/Roboto-Medium.ttf);
}

@font-face {
    font-family: Barlow;
    src: url(../fonts/barlow/Barlow-Regular.ttf);
}

@font-face {
    font-family: Barlow-Bold;
    src: url(../fonts/barlow/Barlow-Bold.ttf);
}

@font-face {
    font-family: Barlow-Extra-Bold;
    src: url(../fonts/barlow/Barlow-ExtraBold.ttf);
}

.conteiner {
    max-width: 1200px;
    margin: auto;
}

.title-description {
    font-size: 50px;
    font-family: Barlow-Bold, sans-serif;
    font-weight: bold;
    color: var(--dark-green);
}

.group-description {
    font-size: 24px;
    font-family: Barlow-Bold, sans-serif;
    font-weight: bold;
    color: var(--light-green);
    padding: 40px 0;
}

.short-text-description {
    font-size: 19px;
    font-family: Roboto, sans-serif;
    font-weight: bold;
    color: var(--light-gray);
}

.text-description {
    font-size: 17px;
    font-family: Roboto, sans-serif;
    color: var(--light-gray);
}

.number-value {
    font-size: 24px;
    font-family: Barlow, sans-serif;
    font-weight: bold;
    color: #ff775e;
}

.button-link {
    font-size: 14px;
    font-family: Roboto, sans-serif;
    font-weight: bold;
    color: #ffffff;
    background-color: var(--light-green);
    border-radius: 4px;
    padding: 18px 43px;
    text-decoration: none;
    text-align: center;
    max-width: 100px;
}

.button-link:hover {
    background-color: #ff775e;
}

.feedback-user-name {
    font-size: 24px;
    font-family: Barlow, sans-serif;
    font-weight: bold;
    color: var(--dark-gray);
}

.feedback-date {
    font-size: 15px;
    font-family: Roboto, sans-serif;
    font-weight: bold;
    color: var(--light-green);
}

.short-black-line {
    width: 60px;
    height: 2px;
    background-color: var(--dark-gray);
}

.short-green-line {
    width: 60px;
    height: 2px;
    background-color: var(--dark-green);
}