.top-section {
    display: flex;
    flex-direction: row;
    text-align: center;
    font-size: 16px;
    font-family: Roboto, sans-serif;
    font-weight: bold;
    color: var(--light-gray);
    padding: 30px 15px;
    justify-content: space-between;
}

.fo-logo {
    width: 98px;
    height: 85px;
}

.fo-logo img {
    width: 100%;
}

.top-nav-menu-item .nav-link {
    color: var(--light-gray);
}

.top-nav-menu-item .nav-link:hover,
.top-nav-menu-item a:hover {
    color: var(--light-green);
    border-bottom: 3px solid var(--light-green);
}

.top-nav-menu-item a:hover {
    color: var(--light-green);
}

.navbar {
    justify-content: flex-end;
}

.navbar .show {
    overflow-y: hidden;
}

.navbar-toggler {
    border: none;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.social-net {
    color: var(--dark-green);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

.social-net i {
    color: var(--light-green);
    padding: 0 6px;
}

.social-net i:hover {
    color: var(--dark-green);
}

@media (min-width: 992px) {
    .top-section {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-content: center;
        font-size: 17px;
    }

    .burger-button {
        display: none;
    }

    .top-nav-menu {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }

    .top-nav-menu-list {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        text-align: center;
    }
}