.main-section {
    display: block;
    background-color: #fcf6ec;
}

.aboutus-section,
.categories,
.how-it-work,
.deals,
.delivery,
.users-feedback,
.faq-section,
.work-with-us,
.contact-section {
    display: flex;
    flex-direction: column;
    margin: 100px 50px auto;
}

.categories .heading-group,
.how-it-work .heading-group,
.deals .heading-group,
.delivery .heading-group,
.faq-section .heading-group,
.work-with-us .heading-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.categories .short-text-description,
.how-it-work .short-text-description,
.deals .short-text-description,
.delivery .short-text-description,
.faq-section .short-text-description,
.work-with-us .short-text-description {
    text-align: center;
}

.aboutus-section .heading-group,
.aboutus-section .short-text-description,
.contact-section .heading-group,
.contact-section .short-text-description {
    text-align: left;
}

.food-delivery {
    background-image: url(../img/head-bground.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    grid-template-rows: 3;
    padding: 200px 0 100px;
}

.grand-description {
    font-size: 56px;
    font-family: Barlow-Extra-Bold, sans-serif;
    font-weight: 900;
    color: var(--dark-gray);
    grid-row: 1;
    text-align: center;
}

.food-delivery .short-text-description {
    grid-row: 2;
    margin: auto;
    word-wrap: break-word;
}

.food-delivery .button-link {
    grid-row: 3;
    justify-self: center;
}

.aboutus-img img,
.work-steps img {
    width: 636px;
    max-width: 636px;
}

.app-link img {
    width: 120px;
    max-width: 120px;
}

.aboutus-text {
    display: flex;
    flex-direction: column;
}

.steps-ordering {
    list-style: none;
}

.steps-ordering i {
    color: #ff775e;
    font-size: 20px;
    padding-right: 10px;
}

.work-step-title {
    font-family: Barlow-Bold, sans-serif;
    font-size: 36px;
    color: var(--light-green);
}

.transparent-button {
    font-size: 15px;
    font-family: Roboto, sans-serif;
    font-weight: bold;
    border: 3px solid var(--light-green);
    background-color: transparent;
    padding: 16px 45px;
    color: var(--light-green);
    text-decoration: none;
    border-radius: 4px;
}

.food-values {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

.food-values hr {
    color: var(--light-green);
    width: 100%;
    flex: 1 1;
    margin: 20px 0 7px;
}

.transparent-button:hover {
    color: #ffffff;
    background-color: var(--light-green);
}

.categories .short-green-line {
    margin: auto;
}

.food-categories {
    display: flex;
    flex-direction: row;
}

.food-card {
    position: relative;
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    text-align: center;
    padding: 20px;
    background-color: #ffffff;
}

.food-card .short-black-line {
    margin: auto;
}

.food-img {
    display: flex;
    max-width: 100px;
    max-height: 100px;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    margin: auto;
    overflow: hidden;
    background-color: #fcf6ec;
}

.food-img img {
    width: 60px;
    height: 60px;
    max-width: 70%;
    margin: auto;
    vertical-align: middle;
    object-fit: contain;
}

.how-it-work .short-green-line {
    margin: auto;
}

.users-feedback-item {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #ffffff;
    border-radius: 5px;
    width: 420px;
    padding: 40px;
    box-shadow: 0 0 15px #fcf6ec;
}

.users-feedback-item-photo {
    display: block;
    width: 80px;
    height: 80px;
    max-width: 80px;
    border-radius: 50%;
    margin: auto;
    overflow: hidden;
}

.users-feedback-item-photo img {
    width: 100%;
    height: 100%;
    margin: auto;
    object-fit: cover;
}

.work-with-us {
    background-image: url(/img/background.webp);
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    border-radius: 5px;
    margin: 100px auto;
    padding: 50px 0;
}

.work-with-us .short-black-line {
    margin: auto;
}

.work-with-us .button-link {
    margin: auto;
}

.work-with-us .title-description {
    padding: 10px 0;
    color: var(--dark-gray);
}

.work-step {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.faq-section .title-description {
    text-align: center;
    padding: 10px 0;
}

.faq-section .short-green-line {
    margin: auto;
}

.faq-block {
    display: flex;
    flex-direction: column;
    justify-items: flex-start;
}

.faq-block .group-description {
    padding: 10px 0;
}

.faq-block .text-description {
    padding: 10px 0;
}

.contact-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
}

.phone-mail {
    display: flex;
    flex-direction: column;
}

.phone-mail:first-child {
    padding: 10px 0;
}

.phone-mail .text-description {
    font-weight: bold;
}

.contact-section img {
    width: 510px;
}

.delivery .short-green-line {
    margin: auto;
}

.food-delivery-steps {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-between;
    padding: 15px auto;
}

.food-delivery-steps .heading-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding: auto 15px;
}

.food-delivery-img {
    display: flex;
    width: 100px;
    height: 100px;
    align-self: center;
    margin: 0;
    background-color: #ffffff;
    border-radius: 50%;
    overflow: hidden;
}

.food-delivery-img img {
    margin: auto;
    object-fit: contain;
    overflow: hidden;
    width: 60%;
    height: 60%;
}

.food-delivery-steps .short-black-line {
    margin: auto;
}

@media (min-width: 992px) {
    .grand-description {
        font-size: 78px;
        padding: 0 200px;
    }

    .aboutus-section {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .aboutus-text {
        grid-column: 1;
    }

    .aboutus-img {
        grid-column: 2;
    }

    .aboutus-img img,
    .work-steps img {
        width: 570px;
        max-width: 570px;
        justify-self: center;
        margin: 30px auto;
    }

    .work-steps {
        display: grid;
        grid-template-columns: 2;
        grid-template-rows: 3;
        column-gap: 30px;
    }

    .app-link img {
        width: 120px;
        max-width: 120px;
    }

    .order-delivery {
        grid-row: 1;
        grid-column: 1;
    }

    .order-point {
        grid-row: 2;
        grid-column: 2;
    }

    .order-deal {
        grid-row: 3;
        grid-column: 1;
    }

    .food-img {
        width: 100px;
        height: 100px;
    }
    
    .contact-section {
        display: grid;
        grid-template-columns: 2;
    }

    .contact-info {
        grid-column: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-right: 20px;
    }

    .contact-info .short-green-line {
        justify-items: flex-end;
    }

    .contact-section img {
        grid-column: 2;
    }

    .number-value {
        font-size: 24px;
    }

    .faq-block-list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        column-gap: 40px;
    }

    .food-delivery-steps {
        display: flex;
        flex-direction: row;
    }

    .restaurant-deal {
        display: flex;
        flex-direction: column;
    }

    .carousel-inner .active, 
    .carousel-inner .prev {
        display: inline;
        left: 50%;
    }

    .carousel-inner .carousel-item,
    .carousel-inner .next {
        display: inline;
        left: 1px;
    }
}