.main-section {
    display: block;
    background-color: #fcf6ec;
}

.food-delivery {
    background-image: url(..img/head-bground.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    grid-template-rows: 3;
    padding: 200px 0 100px;
}

.grand-description {
    font-size: 56px;
    font-family: Barlow-Extra-Bold, sans-serif;
    font-weight: 900;
    color: var(--dark-gray);
    padding: 15px 10px;
    grid-row: 1;
    text-align: center;
}

.food-delivery .short-text-description {
    grid-row: 2;
    padding: 30px 10px;
    text-align: center;
    word-wrap: break-word;
}

.food-delivery .button-link {
    grid-row: 3;
    justify-self: center;
}

.aboutus-section {
    display: grid;
    grid-template-rows: 2;
    padding: 30px 20px;
    display: grid;
    grid-template-rows: 300px 200px;
}

.aboutus-section .aboutus {
    grid-row: 1;
}

.aboutus {
    display: grid;
    grid-template-rows: 70px 20px 100px 20px 20px;
}

.aboutus .heading-group {
    grid-row: 1;
}

.aboutus .short-text-description {
    grid-row: 2;
}

.aboutus .steps-ordering {
    grid-row: 3;
}

.aboutus .text-description {
    grid-row: 4;
}

.aboutus .button-link {
    grid-row: 5;
}

.aboutus-section .aboutus-img {
    grid-row: 2;
}

.aboutus {
    grid-row: 1;
}

.aboutus-img {
    grid-row: 2;
}


.work-step-title {
    font-family: Barlow-Bold, sans-serif;
    font-size: 36px;
    color: var(--light-green);
}

.food-card {
    background-color: #ffffff;
}

.food-img {
    background-color: #fcf6ec;
}

.transparent-button {
    font-size: 15px;
    font-family: Roboto, sans-serif;
    font-weight: bold;
    border: 3px solid var(--light-green);
    background-color: transparent;
    color: var(--light-green);
}

@media (min-width: 900px) {
    .grand-description {
        font-size: 78px;
        padding: 15px 200px;
    }

    .aboutus-section {
        padding: 60px 0;
        display: grid;
        grid-template-columns: 2;
    }

    .aboutus {
        grid-column: 1;
    }

    .aboutus-img {
        grid-column: 2;
    }
    
    .aboutus-img img {
        position: relative;
    }
}